Anka_voice.json
{
  "name": "Anka_voice",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "question",
              "value": "={{ $json.body.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "language",
              "value": "sk",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6af75ad6-5acf-454c-bbff-1f0450146bdd",
      "name": "Save Question as JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anka-wake-word",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bb5db637-e2d1-491d-a4e9-403de5510b9e",
      "name": "Listen for Wake Word",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        -32
      ],
      "webhookId": "36eeecce-b4d5-468d-b05e-1ef263e20035"
    },
    {
      "parameters": {
        "source": "={{ $json.question }}",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1184,
        -32
      ],
      "id": "91d5c09f-6eff-43d6-ae5e-4276c8405c45",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Save Question as JSON": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen for Wake Word": {
      "main": [
        [
          {
            "node": "Save Question as JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a1f9e63-21d4-4411-9c78-74fe4fd9bdf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "777a108b11b162413b48666b7ee0943d35944693b81e6545a0628efbb723fbea"
  },
  "id": "GC5Msm8eNfQwViTW",
  "tags": [
    {
      "name": "Hackathon2025",
      "id": "Sk9eYnn92ZtQIR3y",
      "updatedAt": "2025-11-29T17:04:25.964Z",
      "createdAt": "2025-11-29T17:04:25.964Z"
    }
  ]
}