api/Maps.json
{
  "name": "Maps",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -32
      ],
      "id": "1138fe2b-204f-4f3f-bb33-e518fc5977cc",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queary }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "viewbox",
              "value": "={{ Number($json.longitude) - 0.01 }},\n{{ Number($json.latitude) + 0.01 }},\n{{ Number($json.longitude) + 0.01 }},\n{{ Number($json.latitude) - 0.01 }}"
            },
            {
              "name": "bounded",
              "value": "1"
            },
            {
              "name": "addressdetails",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-assistant-demo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        128
      ],
      "id": "c1467ffb-0163-4ac4-a753-16466bed3b23",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Scan in 1km radius",
        "height": 240,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        48
      ],
      "typeVersion": 1,
      "id": "ff1a66c5-7f1a-447a-874b-f1bb9cf0b1d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a location search assistant.\n\nYou will receive a JSON array of places returned from OpenStreetMap Nominatim.\nEach item represents a real place near the user’s location.\n\nYour task:\n- Present a clear, user-friendly list of results.\n- Use natural language.\n- Do NOT repeat raw JSON or technical fields.\n- Extract useful info only.\n\nFor each place:\n- Name\n- Street + area (if available)\n- City\n- Country\n\nFormat rules:\n- Number the results\n- One location per item\n- Short and readable\n- Do not hallucinate missing data\n- If anything is missing, omit it cleanly\n\nExample structure:\n\nNearby dentists found:\n\n1. Giorno Dentale — вулиця Євгена Чикаленка, Центр, Київ, Україна\n2. Bilobrov Dental Clinic — Володимирська вулиця, Старий Київ, Київ, Україна\n3. ...\n\nIf no results are provided:\nSay: “No nearby locations were found for this search.”\n\nNow format the following data accordingly:\n{{ JSON.stringify($json.data, null, 2) }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        416,
        128
      ],
      "id": "9c7224e2-89d1-4c0a-9383-e93ba524f6f9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "MCxnuGrfIDFgs6Vj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        128
      ],
      "id": "d51e3de6-c8b2-4009-a0d0-8c9e8217d39e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d1e1a4a-e58d-4c51-9446-57c6c8319210",
              "name": "latitude",
              "value": "48.7139500",
              "type": "string"
            },
            {
              "id": "2a0dba39-f6a7-45be-b1b4-392266b27959",
              "name": "longitude",
              "value": "21.2580800",
              "type": "string"
            },
            {
              "id": "39b75cc3-76b9-4a94-bfee-2655f1aae7b3",
              "name": "queary",
              "value": "={{ $json.output.location }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        160
      ],
      "id": "02a1a9af-eae3-4033-8eb7-134c78dee0a2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        160
      ],
      "id": "d4243269-e89a-4989-a9f5-daa4a576d9c5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "location",
              "description": "what user is want to find. output must consist of one word"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -656,
        160
      ],
      "id": "6bf3b024-1da4-40ce-812a-58a78e592ebd",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -656,
        352
      ],
      "id": "3b204701-5790-4ffe-afe1-5c1abc21f308",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MCxnuGrfIDFgs6Vj",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "latitude": "50.450001",
          "longitude": "30.523333",
          "queary": "bar"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b0024c2-1a84-4e45-9e7c-a6b78d44be1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "777a108b11b162413b48666b7ee0943d35944693b81e6545a0628efbb723fbea"
  },
  "id": "PWJ2BQslPJmRSJl4",
  "tags": [
    {
      "updatedAt": "2025-11-29T17:04:25.964Z",
      "createdAt": "2025-11-29T17:04:25.964Z",
      "id": "Sk9eYnn92ZtQIR3y",
      "name": "Hackathon2025"
    }
  ]
}